
<div class="dialog">
    <button id="alignCloseRight" mat-icon-button align="end" color="warn" [mat-dialog-close] aria-label="Close">
  
      <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>View Season</h2>
  
    <mat-dialog-content appearance="mat-typography">
      <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Season Name</mat-label>
            <input matInput [value]="season.SeasonName" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [value]="season.StartDate" readonly>
            <mat-hint>Start date for this season</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [value]="season.EndDate" readonly>
            <mat-hint>End date for this season</mat-hint>
        </mat-form-field>
    </div>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close] color="primary" (click)="updateSeason()">Update</button>
        <!--<button mat-raised-button [mat-dialog-close]="true" color="warn" (click)="deleteSeason()">Delete</button> -->
    </mat-dialog-actions>
<div>