<div class="dialog">
    <h2 mat-dialog-title>Add Activity Slot</h2>
    <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
    <mat-form-field appearance="fill">
        <mat-label>Park</mat-label>
        <mat-select>
            <mat-option value="Addo Elephant National Park">Addo Elephant National Park</mat-option>
            <mat-option value="Golden Gates Highlands National Park">Golden Gates Highlands National Park</mat-option>
            <mat-option value="Kruger National Park">Kruger National Park</mat-option>
        </mat-select>
        <mat-hint>Park in which activity is</mat-hint>
    </mat-form-field>  
    <mat-form-field appearance="fill"> <!--Populated based on the selected Park-->
        <mat-label>Camp</mat-label>
        <mat-select>
            <mat-option value="Addo">Addo</mat-option>
            <mat-option value="Spekboom">Spekboom</mat-option>
            <mat-option value="Matyholweni">Matyholweni</mat-option>           
        </mat-select>
        <mat-hint>Camp in which activity is</mat-hint>
    </mat-form-field>  
    <mat-form-field appearance="fill">
        <mat-label>Activity Type</mat-label>
        <mat-select>
            <mat-option value="Sunset Drive">Sunset Drive</mat-option>
            <mat-option value="Night Drive">Night Drive</mat-option>
            <mat-option value="Hiking">Hiking</mat-option>
        </mat-select>
        <mat-hint>This is the activty type of the activity</mat-hint>
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>Activity</mat-label>
        <mat-select>
            <mat-option value="1 Hour Drive">1 Hour Drive</mat-option>
            <mat-option value="2 Hour Drive">2 Hour Drive</mat-option>
            <mat-option value="4 Hour Drive">4 Hour Drive</mat-option>
        </mat-select>
        <mat-hint>Select an activity to assign a slot time</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Slot Time</mat-label>
        <input matInput aria-label="Park gate opening time" [ngxTimepicker]="slotTime" [format]="24"  readonly>
        <ngx-material-timepicker #slotTime></ngx-material-timepicker>
        <mat-hint>Activtiy Slot Time</mat-hint>
    </mat-form-field>
    </div>  
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="addSlotTime()">Add Slot</button>
    </mat-dialog-actions>
    </div>
      
      
      
      
      