<div class="dialog">
<h2 mat-dialog-title>Create Park Gate Time</h2>
<form [formGroup]="addParkGateTimeForm">
<mat-dialog-content appearance="mat-typography">
<div class="example-container">
<mat-form-field appearance="fill">
    <mat-label>Park</mat-label>
    <mat-select formControlName="park">
        <mat-option *ngFor="let park of parkDropDown" [value]="park.ParkID" (click)="getParkGates(park.ParkID)">{{park.ParkName}}</mat-option>
    </mat-select>
</mat-form-field> 
<mat-form-field appearance="fill"> <!--Populated with park gates of the selected park-->
    <mat-label>Park Gate</mat-label> 
    <mat-select formControlName="parkGate">
        <mat-option *ngFor="let parkGate of parkGateDropDown" [value]="parkGate.ParkGateID">{{parkGate.ParkGateName}}</mat-option>
    </mat-select>
</mat-form-field> 
<mat-form-field appearance="fill">
    <mat-label>Season</mat-label>
    <mat-select formControlName="season">
        <mat-option *ngFor="let season of seasonDropDown" [value]="season.SeasonID" (click)="displaySeasonDates(season.SeasonID)">{{season.SeasonName}}</mat-option>
    </mat-select>
    <mat-hint>This is the season that is associated to this gate time.</mat-hint>
</mat-form-field>
<div *ngIf="seasonSelected">
<mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [value]="selectedSeason.StartDate" readonly>
    <mat-hint>Season start date.</mat-hint>
</mat-form-field> 
<mat-form-field appearance="fill">
    <mat-label>End Date</mat-label>
    <input matInput [value]="selectedSeason.EndDate" readonly>
    <mat-hint>Season end date.</mat-hint>
</mat-form-field> 
</div>
<mat-form-field appearance="fill">
    <mat-label>Gate Opening Time</mat-label>
    <input matInput aria-label="Park gate opening time" formControlName="gateOpeningTime" [ngxTimepicker]="gateOpenTime" [format]="24"  readonly>
    <ngx-material-timepicker #gateOpenTime [theme]="clockTheme"></ngx-material-timepicker>
    <mat-hint>Gate opening time in 24hr format</mat-hint>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Gate Closing Time</mat-label>
    <input matInput aria-label="Park gate closing time" formControlName="gateClosingTime" [ngxTimepicker]="gateCloseTime" [format]="24"  readonly>
    <ngx-material-timepicker #gateCloseTime [theme]="clockTheme"></ngx-material-timepicker>
    <mat-hint>Gate closing time in 24hr format</mat-hint>
</mat-form-field>
</div>  
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addParkGateTime()">Create</button>
</mat-dialog-actions>
</form>
</div>
  
  
  
  
  