<div class="dialog">
    <h2 mat-dialog-title>Update Wildcard Cluster</h2> <!--To be populate with current data-->
    <form [formGroup]="updateWildcardClusterForm">
    <mat-dialog-content appearance="mat-typography">
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Wildcard Cluster Name</mat-label>
                <input matInput formControlName="wildcardClusterName">
                </mat-form-field>
            <mat-form-field hintLabel="Max 300 characters" appearance="fill">
                <mat-label>Wildcard Cluster Description</mat-label>
                <textarea matInput #input maxlength="300" cdkTextareaAutosize formControlName="wildcardClusterDescription"></textarea>
                <mat-hint>&nbsp;{{input.value?.length || 0}}/300</mat-hint>
            </mat-form-field>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Select Parks In Cluster
                </mat-expansion-panel-header>
                <section *ngFor="let park of parkCheckBox">
                    <mat-checkbox  [value]="park" (change)="onChange($event)">{{park.ParkName}}</mat-checkbox>
                    <br>
                </section>
            </mat-expansion-panel>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="updateWildcardCluster()">Update</button>
    </mat-dialog-actions>
</form>
</div>
  