<div class="dialog">
    <h2 mat-dialog-title>Update Wildcard Cluster</h2> <!--To be populate with current data-->
  <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Wildcard Cluster Name</mat-label>
            <input matInput value="SANParks Cluster">
            </mat-form-field>
        <mat-form-field hintLabel="Max 300 characters" appearance="fill">
            <mat-label>Wildcard Cluster Description</mat-label>
            <textarea matInput #input maxlength="300" value="Access to all 3 of SANParks National Parks in South Africa"></textarea>
            <mat-hint>&nbsp;{{input.value?.length || 0}}/300</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Select Parks In Cluster</mat-label>
            <mat-select multiple>
                <mat-option *ngFor="let park of listOfParks">{{park.parkName}}</mat-option>
            </mat-select>
        </mat-form-field>   
    </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="warn" (click)="confirmCancel()">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="updateWildcardCluster()">Update Cluster</button>
    </mat-dialog-actions>
</div>
  