<div class="dialog">
    <h2 mat-dialog-title>Update Amenity Penalty</h2>
  <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
        <h3>SMEG Kettle</h3>
        <mat-form-field class="example-full-width">
            <mat-label>Amenity Penalty</mat-label>
            <span matPrefix>R &nbsp;</span>
            <input type="number" matInput placeholder="1000">
            <mat-hint>Client will be liable to pay this amount upon vandalisation</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Date Effective</mat-label>
            <input matInput type="date">
        </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Cancel</button>
    <button mat-button [mat-dialog-close]="true" color="primary">Update Penalty</button>
  </mat-dialog-actions>
  </div>
  
  
  
  
  

