<button id="alignCloseRight" mat-icon-button align="end" color="warn" (click)="confirmCancel()" aria-label="Cancel">
    <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>Create Activity Rate</h2>
<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="selectActivityForm">
        <form [formControl]="selectActivityForm" [formGroup]="selectActivityForm">
            <ng-template matStepLabel>Select Activity</ng-template>
            <mat-dialog-content appearance="mat-typography">
            <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Park</mat-label>
                <mat-select formControlName="park">
                    <mat-option *ngFor="let park of parkDropDown" [value]="park.ParkID" (click)="getCampsForPark(park.ParkID)">{{park.ParkName}}</mat-option>
                </mat-select>
                <mat-hint>Park in which activity is</mat-hint>
            </mat-form-field>  
            <mat-form-field appearance="fill"> <!--Populated based on the selected Park-->
                <mat-label>Camp</mat-label>
                <mat-select formControlName="camp">
                    <mat-option *ngFor="let camp of campDropDown" [value]="camp.CampID" (click)="updateCampID(camp.CampID)">{{camp.CampName}}</mat-option>
                </mat-select>
                <mat-hint>Camp in which activity is</mat-hint>
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Activity Type</mat-label>
                <mat-select formControlName="activityType">
                    <mat-option *ngFor="let activityType of activityTypeDropDown" [value]="activityType.ActivityTypeID" (click)="getActivityInCampForSpecificType(activityType.ActivityTypeID)">{{activityType.ActivityTypeDescription}}</mat-option>
                </mat-select>
                <mat-hint>This is the activty type of the activity</mat-hint>
            </mat-form-field> 
            <mat-form-field appearance="fill">
                <mat-label>Activity</mat-label>
                <mat-select formControlName="activity">
                    <mat-option *ngFor="let activity of activityDropDown" [value]="activity.ActivityID">{{activity.ActivityDescription}}</mat-option>
                </mat-select>
                <mat-hint>Select an activity to assign a rate</mat-hint>
            </mat-form-field>
            </div>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-raised-button color="primary" (click)="stepperNext()">Next</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step [stepControl]="activityRateDetails">
        <form [formControl]="activityRateDetails" [formGroup]="activityRateDetails">
            <ng-template matStepLabel>Activity Rate Details</ng-template> <!--Need to read the narraitve to understand how rate type influences this rate-->
            <mat-dialog-content appearance="mat-typography">
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Rate Type</mat-label>
                    <mat-select formControlName="rateType">
                        <mat-option *ngFor="let rateType of rateTypeDropDown" [value]="rateType.RateTypeID">{{rateType.RateTypeDescription}}</mat-option>
                    </mat-select>
                    <mat-hint>Select a rate type</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill"> 
                    <mat-label>Adult Rate</mat-label>
                    <input matInput formControlName="adultRate" type="number" maxlength="13">
                    <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Child Rate</mat-label>
                    <input matInput formControlName="childRate" type="number" maxlength="13">
                    <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Vehicle Amount</mat-label>
                    <input matInput formControlName="vehicleAmount" type="number" maxlength="13">
                    <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Hut Amount</mat-label>
                    <input matInput formControlName="hutAmount" type="number" maxlength="13">
                    <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Person Amount</mat-label>
                    <input matInput formControlName="personAmount" type="number" maxlength="13">
                    <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Bike Amount</mat-label>
                    <input matInput formControlName="bikeAmount" type="number" maxlength="13">
                    <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>No Bike Amount</mat-label>
                    <input matInput formControlName="noBikeAmunt" type="number" maxlength="13">
                    <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Year Effective</mat-label>
                    <mat-select formControlName="dateEffective">
                        <mat-option *ngFor="let year of listOfYears" [value]="year">
                          {{year}}
                        </mat-option>
                      </mat-select>
                    <mat-hint>Year in which to apply this activity rate.</mat-hint>
                </mat-form-field>
            </div>
            </mat-dialog-content>
        </form>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" matStepperPrevious >Previous</button>
            <button mat-raised-button color="primary" (click)="addActivityRate()">Create</button>
        </mat-dialog-actions>
    </mat-step>
</mat-horizontal-stepper>
  