<div class="dialog">
  <h2 mat-dialog-title>Create Camp </h2>
  <form [formGroup]="addCampForm">
  <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Camp Name</mat-label>
        <input matInput formControlName="campName" maxlength="50">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Camp Type</mat-label>
        <mat-select formControlName="campType">
            <mat-option *ngFor="let campType of campTypeDropDown" [value]="campType.CampTypeID">{{campType.CampTypeName}}</mat-option>
        </mat-select>
    </mat-form-field> 
      <mat-form-field appearance="fill">
        <mat-label>Park</mat-label>
        <mat-select formControlName="park">
            <mat-option *ngFor="let park of parkDropDown" [value]="park.ParkID">{{park.ParkName}}</mat-option>
        </mat-select>
        <mat-hint>Park in which this camp is.</mat-hint>
      </mat-form-field> 
      <mat-form-field hintLabel="Max 300 characters" appearance="fill">
        <mat-label>Camp  Description</mat-label>
        <textarea matInput #input maxlength="300" cdkTextareaAutosize formControlName="campDescription"></textarea>
        <mat-hint>&nbsp;{{input.value?.length || 0}}/300</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Camp Latitude</mat-label>
        <input matInput formControlName="campLatitude" maxlength="100">
        <mat-hint>Enter Latitude Co-Ordinates</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Camp Longitude</mat-label>
        <input matInput formControlName="campLongitude" maxlength="100">
        <mat-hint>Enter Longitude Co-Ordinates</mat-hint>
      </mat-form-field>
    </div>
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addCamp()">Create</button>
  </mat-dialog-actions>
  </form>
  </div>
  