.mat-form-field {
    margin-top: 16px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.mat-dialog-content {
    height: 99%;
}
:host ::ng-deep {
    .mat-horizontal-stepper-header-container {
      position: inherit;
    }
}
