<button id="alignCloseRight" mat-icon-button align="end" color="warn" (click)="confirmCancel()" aria-label="Cancel">
    <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>Update Activity Rate</h2>
<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="selectActivityForm">
        <form [formControl]="selectActivityForm" [formGroup]="selectActivityForm">
            <ng-template matStepLabel>Select Activity</ng-template>
            <mat-dialog-content appearance="mat-typography">
            <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Park</mat-label>
                <input matInput value="{{actvivityRate.ParkName}}" readonly>
                <mat-hint>Park in which activity is</mat-hint>
            </mat-form-field>  
            <mat-form-field appearance="fill"> <!--Populated based on the selected Park-->
                <mat-label>Camp</mat-label>
                <input matInput value="{{actvivityRate.CampName}}" readonly>
                <mat-hint>Camp in which activity is</mat-hint>
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Activity Type</mat-label>
                <input matInput value="{{actvivityRate.ActivityTypeDescription}}" readonly>
                <mat-hint>This is the activty type of the activity</mat-hint>
            </mat-form-field> 
            <mat-form-field appearance="fill">
                <mat-label>Activity</mat-label>
                <input matInput value="{{actvivityRate.ActivityDescription}}" readonly>
                <mat-hint>Activity to assign a rate</mat-hint>
            </mat-form-field>
            </div>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-raised-button color="primary" (click)="stepperNext()">Next</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step [stepControl]="activityRateDetails">
        <form [formControl]="activityRateDetails" [formGroup]="activityRateDetails">
            <ng-template matStepLabel>Activity Rate Details</ng-template> <!--Need to read the narraitve to understand how rate type influences this rate-->
            <mat-dialog-content appearance="mat-typography">
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Rate Type</mat-label>
                    <mat-select formControlName="rateType">
                        <mat-option *ngFor="let rateType of rateTypeDropDown" [value]="rateType.RateTypeID">{{rateType.RateTypeDescription}}</mat-option>
                    </mat-select>
                    <mat-hint>Select a rate type</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Person Amount</mat-label>
                    <input matInput formControlName="personAmount" type="number" maxlength="13">
                    <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
                </mat-form-field>               
                <mat-form-field appearance="fill">
                    <mat-label>Year Effective</mat-label>
                    <mat-select formControlName="dateEffective">
                        <mat-option *ngFor="let year of listOfYears" [value]="year">
                          {{year}}
                        </mat-option>
                      </mat-select>
                    <mat-hint>Year in which to apply this activity rate.</mat-hint>
                </mat-form-field>        
            </div>
            </mat-dialog-content>
        </form>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" matStepperPrevious >Previous</button>
            <button mat-raised-button color="primary" (click)="updateActivityRate()">Update</button>
        </mat-dialog-actions>
    </mat-step>
</mat-horizontal-stepper>
  