<div class="dialog">
    <h2 mat-dialog-title>Update Accommodation Base Rate</h2>
    <form [formGroup]="updateAccomodationBaseRateForm">
    <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label> Park</mat-label>
            <input matInput value="{{baseRate.ParkName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Camp</mat-label>
            <input matInput value="{{baseRate.CampName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Accommodation Type</mat-label>
            <input matInput value="{{baseRate.AccomodationType}}" readonly>               
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Season</mat-label>
            <mat-select formControlName="season">
                <mat-option *ngFor="let season of seasonDropDown" [value]="season.SeasonID" (click)="displaySeasonDates(season.SeasonID)">{{season.SeasonName}}</mat-option>
            </mat-select>
            <mat-hint>This is the season that is associated to this base rate.</mat-hint>
        </mat-form-field>
        <div *ngIf="seasonSelected">
            <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [value]="selectedSeason.StartDate" readonly>
                <mat-hint>Season start date.</mat-hint>
            </mat-form-field> 
            <mat-form-field appearance="fill">
                <mat-label>End Date</mat-label>
                <input matInput [value]="selectedSeason.EndDate" readonly>
                <mat-hint>Season end date.</mat-hint>
            </mat-form-field> 
        </div> 
        <mat-form-field appearance="fill">
            <mat-label>Base Rate</mat-label>
            <input matInput type="number" formControlName="baseRate" maxlength="13">
            <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
        </mat-form-field>
    </div>  
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="updateAccomodationBaseRate()">Update</button>
    </mat-dialog-actions>
    </form>
</div>
      
      
      
      
      