<button id="alignCloseRight" mat-icon-button align="end" color="warn" (click)="confirmCancel()" aria-label="Cancel">
    <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>Create Activity</h2>
<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="basicActivityDetails">
        <form [formControl]="basicActivityDetails" [formGroup]="basicActivityDetails">
            <ng-template matStepLabel>Activity Details</ng-template>
            <mat-dialog-content appearance="mat-typography">
            <div class="example-container">
                <mat-form-field appearance="fill"> <!--Populated with all activity types-->
                    <mat-label>Activity Type</mat-label>
                    <mat-select formControlName="activityType">
                        <mat-option *ngFor="let activityType of activityTypeDropDown" [value]="activityType.ActivityTypeID" >{{activityType.ActivityTypeDescription}}</mat-option>
                    </mat-select>
                    <mat-hint>The associated activity type</mat-hint>
                </mat-form-field> 
                <mat-form-field hintLabel="Max 75 characters" appearance="fill">
                    <mat-label>Activity Description</mat-label>
                    <textarea cdkTextareaAutosize matInput #input maxlength="75" formControlName="activityDescription"></textarea>
                    <mat-hint>&nbsp;{{input.value?.length || 0}}/75</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Maximum Capacity</mat-label>
                    <input matInput type="number" formControlName="maximumCapacity">
                    <mat-hint>The number of people allowed for this activity</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Minimum Age</mat-label>
                    <input matInput type="number" formControlName="minimumAge">
                    <mat-hint>Minimum age required for this activity</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Maximum Age</mat-label>
                    <input matInput type="number" formControlName="maximumAge">
                    <mat-hint>Maximum age required for this activity</mat-hint>
                </mat-form-field>
            </div>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-raised-button color="primary" (click)="stepperNext()">Next</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step [stepControl]="campsAvailableAt">
        <form [formControl]="campsAvailableAt">
            <ng-template matStepLabel>Select Camps</ng-template>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let park of parkWithCamps">
                    <mat-expansion-panel-header> <!--Should have at least one selection-->
                        {{park.ParkName}}
                    </mat-expansion-panel-header>
                    <section *ngFor="let camp of park.listOfCamps">
                        <mat-checkbox  [value]="camp" (change)="onChange($event)">{{camp.CampName}}</mat-checkbox>
                        <br>
                    </section>
                </mat-expansion-panel>  
            </mat-accordion>
        </form>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" matStepperPrevious >Previous</button>
            <button mat-raised-button color="primary" (click)="stepperToImageSelection()">Next</button>
        </mat-dialog-actions>
    </mat-step>
    <mat-step [stepControl]="imagesForActivity">
        <form [formControl]="imagesForActivity" [formGroup]="imagesForActivity" enctype="multipart/form-data">
        <ng-template matStepLabel>Provide Images</ng-template>
        <mat-dialog-content appearance="mat-typography">
        <input class="inputFile" type="file" accept='image/*' (change)="selectFile($event)" #fileInput formControlName="image">
        <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Image</button>
        <br>
        <div>
        <mat-card *ngFor="let image of activityImages" >
            <img mat-card-image class="cardImage" [src]="image" alt="Accomodation type image.">
            <mat-card-actions>
                <button mat-mini-fab color="warn" (click)="removeImage(image)">X</button>
            </mat-card-actions>
        </mat-card>
        </div>
       
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" matStepperPrevious >Previous</button>
            <button mat-raised-button color="primary" (click)="addActivity()">Create</button>
        </mat-dialog-actions>
        </mat-dialog-content>
        </form>
    </mat-step>
</mat-horizontal-stepper>
  