.check-buttons {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    width: 65%;
    background-color: rgb(243, 243, 243);
    padding: 40px;
    border-radius: 15px;
    box-shadow:  13px 13px 26px #e8e8e8, 
             -13px -13px 26px #ffffff;
}