h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 50px;
}
table {
    margin-top: 20px;
    width: 100%;
}

#addBtn {
    margin-top: 30px;
    margin-left: auto;
    display: inline-block;
}
button {
    float: right;
}

td {
    width: auto;
}