
<div class="dialog">
  
    <button id="alignCloseRight" mat-icon-button align="end" color="warn" [mat-dialog-close] aria-label="Close">
  
      <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>View Park Gate</h2>
  
    <mat-dialog-content appearance="mat-typography">
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Park Gate Name</mat-label>
          <input matInput value="{{parkGate.ParkGateName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Park </mat-label>
          <input matInput value="{{parkGate.ParkName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Park Gate Limit</mat-label>
          <input matInput type="number" value="{{parkGate.ParkGateMax}}" readonly>
          <mat-hint>The maximum amount of people in a park</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Park Gate Latitude</mat-label>
          <input matInput value="{{parkGate.ParkGateLatitude}}" readonly>
          <mat-hint>Park Gate Latitude Co-Ordinates</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Park Gate Longitude</mat-label>
          <input matInput value="{{parkGate.ParkGateLongitude}}" readonly>
          <mat-hint>Park Gate Longitude Co-Ordinates</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Park Gate Description</mat-label>
          <textarea cdkTextareaAutosize matInput  readonly value="{{parkGate.ParkGateDescription}}"></textarea>
        </mat-form-field>
      </div>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button [mat-dialog-close] color="primary" (click)="updateParkGate()">Update</button>
      <button mat-raised-button [mat-dialog-close]="true" color="warn" (click)="deleteParkGate()">Delete</button>
    </mat-dialog-actions>
  <div>