mat-form-field {
    margin: auto; 
    display: block;
    width: 80%;
    margin-bottom: 20px; 
}

h2 {
    margin-right: 320px;
}
p {
    margin: auto;
    display: block;
    width: 80%;
    margin-bottom: 20px;
    opacity: 0.6;
}

.description {
    margin: auto;
    width: 320px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(250, 250, 250);

    label {
        opacity: 0.6;
    }
}
#alignCloseRight{
    float: right;
}