
<h1>Employee</h1>
<div class="example-container">
  <mat-form-field hintLabel="Max 100 characters" appearance="fill">
    <mat-label>Keyword Filter</mat-label>
    <input matInput #input maxlength="100" placeholder="Ex. Robyn Sancha Pillay">
    <mat-hint>&nbsp; {{input.value?.length || 0}}/100</mat-hint>
  </mat-form-field>

  <button mat-fab color="primary" aria-label="Add employee" (click)="addEmployee()">
    <mat-icon>add</mat-icon>
  </button>

</div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Park Column -->
      <ng-container matColumnDef="park">
        <th mat-header-cell *matHeaderCellDef> Park </th>
        <td mat-cell *matCellDef="let element"> {{element.ParkName}} </td>
      </ng-container>

      <!-- Employee Name Column-->
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.EmployeeName}} {{element.EmployeeSurname}} </td>
      </ng-container>
      <!-- Identity Number Colum-->
      <ng-container matColumnDef="identityNumber">
        <th mat-header-cell *matHeaderCellDef> Identity Number </th>
        <td mat-cell *matCellDef="let element"> {{element.EmployeeIDNumber}} </td>
      </ng-container>

      <!-- View Column -->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> View Employee</th>
        <td mat-cell *matCellDef="let element"> 
          <a mat-button (click)="viewEmployee(element)">
            <mat-icon>visibility</mat-icon>
          </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 8, 20]" showFirstLastButtons></mat-paginator>
  </div>
