<div class="dialog">
    <h2 mat-dialog-title>Create User Role</h2>
    <form [formGroup]="addUserRoleForm">
    <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>User Role Name</mat-label>
        <input matInput formControlName="userRoleName">
      </mat-form-field>
      <mat-form-field hintLabel="Max 300 characters" appearance="fill">
        <mat-label>User Role Description</mat-label>
        <textarea matInput #input maxlength="300" cdkTextareaAutosize formControlName="userRoleDescription" ></textarea>
        <mat-hint>&nbsp;{{input.value?.length || 0}}/300</mat-hint>
      </mat-form-field>
    </div>
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addUserRole()">Create</button>
  </mat-dialog-actions>
  </form>
</div>
  
  
  
  
  