<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Search Booking</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container">
            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
              <mat-label>Booking Reference</mat-label>
              <input matInput #input maxlength="10" placeholder="Ex. Nougat">
              <mat-hint align="end">{{input.value?.length || 0}}/13</mat-hint>
            </mat-form-field>
          
            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                <mat-label>ID Number</mat-label>
                <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                <mat-hint align="end">{{input.value?.length || 0}}/13</mat-hint>
            </mat-form-field>
          </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Search </button>
    </mat-card-actions>
  </mat-card>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="clientid">
        <th mat-header-cell *matHeaderCellDef>ClientID </th>
        <td mat-cell *matCellDef="let element"> {{element.clientID}} </td>
      </ng-container>

            <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Client Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Client Surname </th>
        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
      </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef>Booking Reference </th>
        <td mat-cell *matCellDef="let element"> {{element.bookingReference}} </td>
    </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>View More</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>times</mat-icon>
                  <span>Cancel Booking</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>money</mat-icon>
                  <span>Pay Inspection Penalty</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>money</mat-icon>
                    <span>Pay Vehicle Penalty</span>
                </button>
                <button mat-menu-item [routerLink]="[ '/payOption' ]">
                    <mat-icon>money</mat-icon>
                    <span>Pay Conservation Fee</span>
                </button>
              </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 8, 20]" showFirstLastButtons></mat-paginator>
  </div>
