
<form [formGroup]="searchClientForm">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Search Client</mat-card-title>
      <mat-card-subtitle>Please provide an identity number.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Idenity Number</mat-label>
                <input matInput formControlName="identityNUmber">
            </mat-form-field>             
        </div>    
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="searchClient()">Search</button>
    </mat-card-actions>
  </mat-card-content>
  </mat-card>
</form>
<br>
<mat-card class="centerDiv" *ngIf="clientFound">
<mat-card-content>
<div class="dialog">
  <form>
    <h2 mat-dialog-title>Client Details</h2>
    <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput value="Jade Delene Arumugan" readonly>
      </mat-form-field>   
      <mat-form-field appearance="fill">
        <mat-label>Idenity Number</mat-label>
        <input matInput value="9811255614085" readonly>
      </mat-form-field>   
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput value="9811255614085" readonly>
        <mat-hint>Email address for completing purchase.</mat-hint>
      </mat-form-field>      
    </div>
    </mat-dialog-content>    
  </form>
</div>
<div class="dialog" >
    <h2>Purchase Wildcard</h2>
    <form [formGroup]="purchaseWildcardForm">
    <mat-dialog-content appearance="mat-typography">
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Wildcard Cluster</mat-label>
          <mat-select formControlName="wildcardCluster">
              <mat-option value="All Parks Cluster">All Parks Cluster</mat-option>
              <mat-option value="Msinsi Cluster">Msinsi Cluster</mat-option>
              <mat-option value="SANParks Cluster">SANParks Cluster</mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field appearance="fill">
          <mat-label>Wildcard Category</mat-label>
          <mat-select formControlName="wildcardCategory">
              <mat-option value="Individual">Individual</mat-option>
              <mat-option value="Couple">Couple</mat-option>
              <mat-option value="Family">Family</mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field appearance="fill">
          <mat-label>Wildcard Rate</mat-label>
          <input matInput value="R350" type="number" >
          <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
        </mat-form-field>        
      </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="purchaseWildcard()">Purchase</button>
      </mat-dialog-actions>
    </form>
  </div>
</mat-card-content>
</mat-card>
