<body>
    <form [formGroup]="resetPasswordForm">
        <mat-card>
            <mat-card-title>Reset Password</mat-card-title>
            <mat-card-subtitle>South African National Parks</mat-card-subtitle>
            <br>
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Confirmed Password</mat-label>
                    <input matInput type="password" formControlName="confirmedPass">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
            </mat-card-actions>
        </mat-card>
    </form>
</body>