<mat-toolbar color = "primary" *ngIf="loggedIn$ | async as isLoggedIn">
  <!--[ngClass]="{'open': opened}"-->
    <div id="burger" #burger (click)="toggleBurger()" fxShow="true" fxHide.lt-md="true">
        <span></span> 
        <span></span>
        <span></span>
    </div>
    <img src="assets/images/logo-white.png" alt="" class="logo">
    <div class="login">
      <a mat-raised-button color="primary" id="help" target="_blank" style="margin-left:10px;" (click)="getHelp()">
        <mat-icon>help</mat-icon>
        Help
      </a>

      <a mat-raised-button color="primary" id="login" target="_blank"  style="margin-left:10px;" (click)="viewProfile()">
        <mat-icon>account_circle</mat-icon>
        Profile
      </a>
      <a mat-raised-button color="primary" id="login" target="_blank"  style="margin-left:10px;" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        Logout
      </a>
    </div>
</mat-toolbar>


<mat-sidenav-container fxFlexFill class="example-container" color="primary">
    <mat-sidenav [(opened)] ="opened" mode="over" color = "primary" data-simplebar data-simplebar-auto-hide="true" fxLayout="column" *ngIf="loggedIn$ | async as isLoggedIn">
      <div fxLayout class="links">
        <mat-expansion-panel  *ngIf="number == 3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Park
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="['/Park']">
              Park
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Park-Gate']">
              Park Gate
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Park-Gate-Time']">
              Park Gate Time
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Daily-Conservation-Fee']">
              Daily Conservation Fee
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Season']">
              Season
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel  *ngIf="number == 3">

          <mat-expansion-panel-header >
            <mat-panel-title>
              Camp
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false" [routerLink]=" ['/Camp-Type']">
            <mat-list-option>
              Camp Type
            </mat-list-option>
          </mat-selection-list>
          <mat-selection-list #shoes [multiple]="false" [routerLink]=" ['/Camp']">
            <mat-list-option>
              Camp 
            </mat-list-option>
          </mat-selection-list>
          <mat-selection-list #shoes [multiple]="false" [routerLink]=" ['/Camp-Gate-Time']">
            <mat-list-option>
              Camp Gate Time
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel  *ngIf="number == 3">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Accommodation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/Accomodation']">
              Accommodation
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Accomodation-Type']">
              Accommodation Type
            </mat-list-option>
            <mat-list-option [routerLink] = "[ '/Accomodation-Base-Rate' ]">
              Base Rates
            </mat-list-option>
            <mat-list-option [routerLink] = "[ '/Accomodation-Add-Rate' ]">
              Add Rates
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel  *ngIf="number == 3">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Amenity
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/Amenity']">
              Amenity
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Amenity-Type']">
              Amenity Type
            </mat-list-option>
            <mat-list-option [routerLink] = "[ '/Amenity-Penalty' ]">
              Amenity Penalty
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel  *ngIf="number == 3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Activity
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/Activity']">
              Activity
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Activity-Type']">
              Activity Type
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Activity-Slot']">
              Activity Slot
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Activity-Rate']">
              Activity Rate
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

       <!-- <mat-divider></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Booking
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              Pre Booked Day Visit
            </mat-list-option>
            <mat-list-option>
              Accommodation
            </mat-list-option>
            <mat-list-option>
              Activity
            </mat-list-option>
            <mat-list-option>
              Check Availability
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel> -->
        <mat-divider></mat-divider>
        <mat-expansion-panel  *ngIf="number == 3 || number == 2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Wildcard
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/Wildcard-Cluster']"  *ngIf="number == 3">
              Wildcard Cluster
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Wildcard-Category']"  *ngIf="number == 3">
              Wildcard Category
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Wildcard-Rate']"  *ngIf="number == 3">
              Wildcard Rate
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Purhase-Wildcard']"  *ngIf="number == 2">
              Purhase Wildcard
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Search-Wildcard-Membership']"  *ngIf="number == 2">
              Wildcard Membership
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel  *ngIf="number == 3 || number == 2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              User
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/User-Role']" *ngIf="number == 3">
              User Role
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Employee']" *ngIf="number == 3">
              Employee
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Client']" *ngIf="number == 2">
              Client
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
        <mat-expansion-panel  *ngIf="number == 3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Settings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/Active-Dates']">
              Active Dates
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Session-Timer']">
              Session Timer
            </mat-list-option>         
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
        
        <mat-expansion-panel *ngIf="number == 2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Booking
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/availableResults']">
              Make Booking 
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/searchBookings']">
              Search Bookings
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
        <mat-expansion-panel *ngIf="number == 6">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Payments
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/checkInPark']">
              Pay Inspection Penalty
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/checkOutPark']">
              Pay Vehicle Penalty
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel *ngIf="number == 5">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Park Check - In
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/checkInPark']">
              Check In Park
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/checkOutPark']">
              Check Out Park
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel *ngIf="number == 6">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Camp Check - In
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/checkInAccommodation']">
              Check In Accommodation
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/checkInActivity']">
              Check In Activity
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/checkOutList']">
              Generate Checkout List
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/checkoutCamp']">
              Checkout Camp
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel *ngIf="number == 3 || number ==  4">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Reporting
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/weeklyBooking']">
              Weekly Booking Report
            </mat-list-option>
            <br>
            <mat-list-option [routerLink]="[ '/wildcardMembership']">
              Wildcard Membership Report
            </mat-list-option>
            <br>
            <mat-list-option [routerLink]="[ '/parkPerform']">
              Park Performance Report
            </mat-list-option>
            <br>
            <mat-list-option [routerLink]="[ '/bookingCheckin']">
              Booking vs Check In Report
            </mat-list-option>
            <br>
            <mat-list-option [routerLink]="[ '/refundReport']">
             Refund Report
            </mat-list-option>
            <br>
            <mat-list-option [routerLink]="[ '/paymentReport']">
              Payment Report
             </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </div>       
  </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <ng-content>

        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
  


