<mat-toolbar color = "primary">
  <!--[ngClass]="{'open': opened}"-->
    <div id="burger" #burger (click)="toggleBurger()">
        <span></span> 
        <span></span>
        <span></span>
    </div>
    <img src="assets/images/logo-white.png" alt="" class="logo">
    <div class="login">
      <a mat-raised-button color="primary" id="login" target="_blank">
        Dashboard
        <mat-icon>trending_up</mat-icon>
      </a>

      <a mat-raised-button color="primary" id="login" target="_blank">
        Boitumelo
        <mat-icon>account_circle</mat-icon>
        Admin
      </a>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-container" color="primary">
    <mat-sidenav [(opened)] = "opened" mode="side" color = "primary" data-simplebar data-simplebar-auto-hide="true">
      <div class="links">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Park
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="['/Park']">
              Park
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Park-Gate']">
              Park Gate
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Park-Gate-Time']">
              Park Gate Time
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Daily-Conservation-Fee']">
              Daily Conservation Fee
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Season']">
              Season
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Camp
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false" [routerLink]=" ['/Camp-Type']">
            <mat-list-option>
              Camp Type
            </mat-list-option>
          </mat-selection-list>
          <mat-selection-list #shoes [multiple]="false" [routerLink]=" ['/Camp']">
            <mat-list-option>
              Camp 
            </mat-list-option>
          </mat-selection-list>
          <mat-selection-list #shoes [multiple]="false" [routerLink]=" ['/Camp-Gate-Time']">
            <mat-list-option>
              Camp Gate Time
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Accommodation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/Accomodation']">
              Accommodation
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Accomodation-Type']">
              Accommodation Type
            </mat-list-option>
            <mat-list-option [routerLink] = "[ '/Accomodation-Base-Rate' ]">
              Base Rates
            </mat-list-option>
            <mat-list-option [routerLink] = "[ '/Accomodation-Add-Rate' ]">
              Add Rates
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Amenity
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/Amenity']">
              Amenity
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Amenity-Type']">
              Amenity Type
            </mat-list-option>
            <mat-list-option [routerLink] = "[ '/' ]">
              Amenity Status
            </mat-list-option>
            <mat-list-option [routerLink] = "[ '/Amenity-Penalty' ]">
              Amenity Penalty
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Activity
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/Activity']">
              Activity
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Activity-Type']">
              Activity Type
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/activity-rate']">
              Activity Rates
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Booking
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              Pre Booked Day Visit
            </mat-list-option>
            <mat-list-option>
              Accommodation
            </mat-list-option>
            <mat-list-option>
              Activity
            </mat-list-option>
            <mat-list-option>
              Check Availability
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Wildcard
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/Wildcard-Cluster']">
              Wildcard Cluster
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Wildcard-Category']">
              Wildcard Category
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/Wildcard-Rate']">
              Wildcard Rate
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Check In
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              Hello World
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </div>       
  </mat-sidenav>
    <mat-sidenav-content>
        <ng-content>

        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
  


