<mat-toolbar color = "primary">
  <!--[ngClass]="{'open': opened}"-->
    <div id="burger" #burger (click)="toggleBurger()">
        <span></span> 
        <span></span>
        <span></span>
    </div>
    <img src="assets/images/logo-white.png" alt="" class="logo">
    <div class="login">
      <a mat-raised-button color="primary" id="login" target="_blank">
        Dashboard
        <mat-icon>trending_up</mat-icon>
      </a>

      <a mat-raised-button color="primary" id="login" target="_blank">
        Boitumelo
        <mat-icon>account_circle</mat-icon>
        Admin
      </a>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-container" color="primary">
    <mat-sidenav [(opened)] = "opened" mode="side" color = "primary" data-simplebar data-simplebar-auto-hide="true">
      <div class="links">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Park
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              Hello World
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Camp
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              Hello World
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Accommodation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              Accommodation
            </mat-list-option>
            <mat-list-option [routerLink]="[ '/accommodation-type']">
              Accommodation Type
            </mat-list-option>
            <mat-list-option>
              Base Rates
            </mat-list-option>
            <mat-list-option>
              Add Rates
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Activity
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="[ '/activity']">
              Activity
            </mat-list-option>
            <mat-list-option>
              Activity Type
            </mat-list-option>
            <mat-list-option>
              Activity Rates
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Booking
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              Pre Booked Day Visit
            </mat-list-option>
            <mat-list-option>
              Accommodation
            </mat-list-option>
            <mat-list-option>
              Activity
            </mat-list-option>
            <mat-list-option>
              Check Availability
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Wildcard
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              Hello World
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Check In
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              Hello World
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </div>       
  </mat-sidenav>
    <mat-sidenav-content>
        <ng-content>

        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
  


