
<div class="dialog">
  
    <button id="alignCloseRight" mat-icon-button align="end" color="warn" [mat-dialog-close] aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>View Wildcard Category</h2>
  
    <mat-dialog-content appearance="mat-typography">
      <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Wildcard Category Name</mat-label>
            <input matInput value="{{wildcardCategory.WildcardCategoryName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Wildcard Category Description</mat-label>
            <textarea cdkTextareaAutosize matInput  readonly value="{{wildcardCategory.WildcardCategoryDescription}}"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Adult Limit</mat-label>
            <input matInput value="{{wildcardCategory.AdulLimit}}" readonly>
            <mat-hint>The maximum number of adults for this category</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Child Limit</mat-label>
            <input matInput value="{{wildcardCategory.ChildLimit}}" readonly>
            <mat-hint>The maximum number of children for this category</mat-hint>
        </mat-form-field>
      </div>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close] color="primary" (click)="updateWildcardCategory()">Update</button>
        <button mat-raised-button [mat-dialog-close]="true" color="warn" (click)="deleteWildcardCategory()">Delete</button>
    </mat-dialog-actions>
<div>
