<button id="alignCloseRight" mat-icon-button align="end" color="warn" (click)="confirmCancel()" aria-label="Cancel">
    <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>Create Amenity Penalty</h2>
<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="amenityLocation">
        <form [formControl]="amenityLocation" [formGroup]="amenityLocation">
            <ng-template matStepLabel>Select An Amenity</ng-template>
            <mat-dialog-content appearance="mat-typography">
                <mat-form-field appearance="fill">
                    <mat-label>Park</mat-label>
                    <mat-select formControlName="park">
                        <mat-option *ngFor="let park of parkDropDown" [value]="park.ParkID" (click)="getCampsForPark(park.ParkID)">{{park.ParkName}}</mat-option>
                    </mat-select>
                    <mat-hint>Park in which amenity is in.</mat-hint>
                </mat-form-field> 
                <mat-form-field appearance="fill"> <!--Populated based on the selected Park-->
                    <mat-label>Camp</mat-label>
                    <mat-select formControlName="camp">
                        <mat-option *ngFor="let camp of campDropDown" [value]="camp.CampID" (click)="getAccomodationTypesForCamp(camp.CampID)">{{camp.CampName}}</mat-option>
                    </mat-select>
                    <mat-hint>Camp in which amenity is in.</mat-hint>
                </mat-form-field> 
                <mat-form-field appearance="fill"> <!--Populated based on the selected camp, show acc types in camp -->
                    <mat-label>Accomodation Type</mat-label>
                    <mat-select formControlName="accomodationType">
                        <mat-option *ngFor="let accType of accomodationTypeDropDown" [value]="accType.AccommodationTypeID" (click)="getUnitNumbers(accType.AccommodationTypeID)">{{accType.AccTypeName}}</mat-option>
                    </mat-select>
                    <mat-hint>Accomodation type in which amenity is in.</mat-hint>
                </mat-form-field> 
                <mat-form-field appearance="fill"> <!--Populated based on the selected acc type, show unit number of acc in this camp-->
                    <mat-label>Unit Number</mat-label>
                    <mat-select formControlName="unitNumber">
                        <mat-option *ngFor="let unitNumber of unitNumberDropDown" [value]="unitNumber.UnitNumber" (click)="getUnitsInAmenity(unitNumber.UnitNumber)">{{unitNumber.UnitNumber}}</mat-option>
                    </mat-select>
                    <mat-hint>Unit number in which amenity is in.</mat-hint>
                </mat-form-field> 
                <mat-form-field appearance="fill"> <!--Populated based on the selected unit number and the amenity within this unit-->
                    <mat-label>Amenity</mat-label>
                    <mat-select formControlName="amenity">
                        <mat-option *ngFor="let amenity of amenityDropDown" [value]="amenity.AmenityID">{{amenity.AmenityDescription}}</mat-option>
                    </mat-select>
                    <mat-hint>Amenity which penalty is for</mat-hint>
                </mat-form-field> 
            </mat-dialog-content>
            <mat-dialog-actions align="end">
            <button mat-raised-button color="primary" (click)="stepperNext()">Next</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step [stepControl]="amenityDetails">
        <form [formControl]="amenityDetails" [formGroup]="amenityDetails">
            <ng-template matStepLabel>Assign Penalty</ng-template>
            <mat-dialog-content appearance="mat-typography">
                <mat-form-field appearance="fill">
                    <mat-label>Amenity Penalty</mat-label>
                    <input matInput formControlName="amenityPenalty" type="number">
                    <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Date Effective</mat-label>
                    <input matInput [matDatepicker]="dateEffective" formControlName="dateEffective" readonly>
                    <mat-datepicker-toggle matSuffix [for]="dateEffective"></mat-datepicker-toggle>
                    <mat-datepicker #dateEffective color="primary"></mat-datepicker>
                    <mat-hint>Date from which to apply this penalty.</mat-hint>
                </mat-form-field>
            </mat-dialog-content>
        </form>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" matStepperPrevious>Previous</button>
            <button mat-raised-button color="primary" (click)="addAmenityPenalty()">Create</button>
        </mat-dialog-actions>
    </mat-step>
</mat-horizontal-stepper>
  