
<div class="dialog">
  
  <button id="alignCloseRight" mat-icon-button align="end" color="warn" [mat-dialog-close] aria-label="Close">

    <mat-icon>close</mat-icon>
  </button>
  <h2 mat-dialog-title>View Park</h2>

  <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Park Name</mat-label>
        <input matInput value="{{park.ParkName}}" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Park Limit</mat-label>
        <input matInput type="number" value="{{park.ParkLimit}}" readonly>
        <mat-hint>The maximum amount of people in a park</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Park Latitude</mat-label>
        <input matInput value="{{park.ParkLatitude}}" readonly>
        <mat-hint>Park Latitude Co-Ordinates</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Park Longitude</mat-label>
        <input matInput value="{{park.ParkLongitude}}" readonly>
        <mat-hint>Park Longitude Co-Ordinates</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Park Description</mat-label>
        <textarea cdkTextareaAutosize  matInput value="{{park.ParkDescription}}" readonly></textarea>
    </mat-form-field>
    </div>
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close] color="primary" (click)="updatePark()">Update</button>
    <button mat-raised-button [mat-dialog-close]="true" color="warn" (click)="deletePark()">Delete</button>
  </mat-dialog-actions>
<div>