
<h1>Activity Rate</h1>
<h3>Filter:</h3>
<div class="example-container">
    <mat-form-field appearance="fill">
        <mat-label>Activity Type</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
          <mat-option value="option">Option</mat-option>
          <mat-option value="option">Option</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Activity</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
          <mat-option value="option">Option</mat-option>
          <mat-option value="option">Option</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Amount Search</mat-label>
      <input matInput >
    </mat-form-field>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="addRate()">
    <mat-icon>add</mat-icon>
  </button>
</div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="activity">
        <th mat-header-cell *matHeaderCellDef> Activity Name </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="date-effective">
        <th mat-header-cell *matHeaderCellDef> Date Effective </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol3">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
         <!-- <a mat-button (click)="updateRate(element)">
            <mat-icon>edit</mat-icon>
          </a> -->
          <a mat-button (click)="updateRate(element)">
            <mat-icon>build</mat-icon>
          </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 8, 20]" showFirstLastButtons></mat-paginator>
  </div>




