<button id="alignCloseRight" mat-icon-button align="end" color="warn" (click)="confirmCancel()" aria-label="Cancel">
    <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>Update Employee</h2>
<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="basicEmployeeDetails">
        <form [formControl]="basicEmployeeDetails" [formGroup]="basicEmployeeDetails">
            <ng-template matStepLabel>Employee Particulars</ng-template>
            <mat-dialog-content appearance="mat-typography">
            <div class="example-container">              
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="surname">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Identity Number</mat-label>
                    <input matInput  formControlName="identityNumber">
                    <mat-hint>Provide a valid identity number</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Cellphone Number</mat-label>
                    <input matInput formControlName="cellphoneNumber">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Work Number</mat-label>
                    <input matInput formControlName="workNumber">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="emailAddress">
                    <mat-hint>Email address to be used for work purposes</mat-hint>
                </mat-form-field>
                <mat-form-field hintLabel="Max 200 characters" appearance="fill">
                    <mat-label>Address Line 1</mat-label>
                    <textarea matInput maxlength="200" formControlName="addressLine1" cdkTextareaAutosize #addressLine1></textarea>
                    <mat-hint>&nbsp; {{addressLine1.value.length}}/200</mat-hint>
                </mat-form-field>
                <mat-form-field hintLabel="Max 200 characters"appearance="fill">
                    <mat-label>Address Line 2</mat-label>
                    <textarea matInput maxlength="200" formControlName="addressLine2" #addressLine2 cdkTextareaAutosize ></textarea>
                    <mat-hint>&nbsp;{{addressLine2.value.length}}/200</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Postal Code</mat-label>
                    <input matInput formControlName="postalCode">
                </mat-form-field>
            </div>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-raised-button color="primary" (click)="stepperNext()">Next</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step [stepControl]="employeeRole">
        <form [formControl]="employeeRole" [formGroup]="employeeRole">
            <ng-template matStepLabel>Employee Role</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Park</mat-label>
                <mat-select formControlName="park">
                    <mat-option *ngFor="let park of parkDropDown" [value]="park.ParkID">{{park.ParkName}}</mat-option>
                </mat-select>
                <mat-hint>Park in which the employee is based.</mat-hint>
            </mat-form-field>  
            <mat-form-field appearance="fill"> 
                <mat-label>User Role</mat-label>
                <mat-select formControlName="userRole">
                    <mat-option *ngFor="let userRole of userRoleDropDown" [value]="userRole.RoleID">{{userRole.UserRoleName}}</mat-option>
                </mat-select>
                <mat-hint>Select a user role for the employee.</mat-hint>
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Employment Status</mat-label>
                <mat-select formControlName="employmentStatus">
                    <mat-option *ngFor="let employmentStatus of employmentStatusDropDown" [value]="employmentStatus.EmploymentStatusID">{{employmentStatus.EmploymentStatusName}}</mat-option>
                </mat-select>
                <mat-hint>Select an employment status of the employee.</mat-hint>
            </mat-form-field> 
        </form>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" matStepperPrevious >Previous</button>
            <button mat-raised-button color="primary" (click)="updateEmployee()">Update</button>
        </mat-dialog-actions>
    </mat-step>
</mat-horizontal-stepper>
  