<div class="dialog">
  <h2 mat-dialog-title>Update Accommodation </h2>
  <form [formGroup]="updateAccomodationForm">
  <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Park </mat-label>
        <input matInput formControlName="park" readonly>
        <mat-hint>Park in which this accomodation is.</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Camp</mat-label>
        <input matInput formControlName="camp" readonly>
        <mat-hint>Camp in which this accomodation is.</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Unit Number</mat-label>
        <input matInput type="number" formControlName="unitNumber" maxlength="50">
      </mat-form-field>      
    <mat-form-field appearance="fill">
      <mat-label>Accommodation Type</mat-label>
      <mat-select formControlName="accomodationType">
        <mat-option *ngFor="let accType of accomodationTypeDropDown" [value]="accType.AccommodationTypeID">{{accType.AccTypeName}}</mat-option>
      </mat-select>
  </mat-form-field>   
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="updateAccomdation()">Update</button>
  </mat-dialog-actions>
  </form>
  </div>
  