<h1>Generate Checkout List</h1>

<div class="book-form">
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Park</mat-label>
            <mat-select formControlName="park">
                <mat-option value="Addo Elephant National Park">Addo Elephant National Park</mat-option>
                <mat-option value="Golden Gates Highlands National Park">Golden Gates Highlands National Park</mat-option>
                <mat-option value="Kruger National Park">Kruger National Park</mat-option>
            </mat-select>
          </mat-form-field> 

          <mat-form-field appearance="fill">
            <mat-label>Camp</mat-label>
            <mat-select formControlName="park">
                <mat-option value="Addo Elephant National Park">Skukuza Rest Camp</mat-option>
                <mat-option value="Golden Gates Highlands National Park">Berg - En Dal Rest Camp</mat-option>
                <mat-option value="Kruger National Park">Malelane</mat-option>
            </mat-select>
          </mat-form-field> 

          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="startDate" formControlName="startDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate color="primary"></mat-datepicker>
            <mat-hint>Date</mat-hint>
        </mat-form-field>
            <button mat-raised-button color="primary">Generate Checkout List</button>
    </div>
</div>
<div class="send">
    <button mat-raised-button color="primary">Send List</button>
</div>

<iframe src="assets/images/CheckoutList.pdf" frameborder="0" height="100%" width="100%"></iframe>