
<h2 mat-dialog-title>Update Activity</h2>
<mat-horizontal-stepper [linear] #stepper>
    <mat-step [stepControl]="basicActivityDetails">
        <form [formControl]="basicActivityDetails">
            <ng-template matStepLabel>Activity Details</ng-template>
            <mat-dialog-content appearance="mat-typography">
            <div class="example-container">
                <mat-form-field appearance="fill"> <!--Populated with all activity types-->
                    <mat-label>Activity Type</mat-label>
                    <mat-select>
                        <mat-option value="Sunset Drive">Sunset Drive</mat-option>
                        <mat-option value="Night Drive">Night Drive</mat-option>
                        <mat-option value="Hiking">Hiking</mat-option>
                    </mat-select>
                    <mat-hint>The associated activity type</mat-hint>
                </mat-form-field> 
                <mat-form-field hintLabel="Max 300 characters" appearance="fill">
                    <mat-label>Activity Description</mat-label>
                    <textarea cdkTextareaAutosize matInput #input maxlength="300" value="2 Hour Drive"></textarea>
                    <mat-hint>&nbsp;{{input.value?.length || 0}}/300</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Maximum Capacity</mat-label>
                    <input matInput type="number" value="15">
                    <mat-hint>The number of people allowed for this activity</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Minimum Age</mat-label>
                    <input matInput type="number" value="13">
                    <mat-hint>Minimum age required for this activity</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Maximum Age</mat-label>
                    <input matInput type="number" value="80">
                    <mat-hint>Maximum age required for this activity</mat-hint>
                </mat-form-field>
            </div>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step [stepControl]="campsAvailableAt">
        <form [formControl]="campsAvailableAt">
            <ng-template matStepLabel>Select Camps</ng-template>
            <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Addo Elephant National Park
                </mat-expansion-panel-header>
                <section>
                    <mat-checkbox>Addo</mat-checkbox>
                    <br>
                    <mat-checkbox>Spekboom</mat-checkbox>
                    <br>
                    <mat-checkbox>Kabouga</mat-checkbox>
                    <br>
                    <mat-checkbox>Nyathi</mat-checkbox>
                </section>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Kruger National Park
                </mat-expansion-panel-header>
                <section>
                    <mat-checkbox>Crocodile Bridge</mat-checkbox>
                    <br>
                    <mat-checkbox>Letaba</mat-checkbox>
                    <br>
                    <mat-checkbox>Lower Sabie</mat-checkbox>
                    <br>
                    <mat-checkbox>Boulders Bush Lodge</mat-checkbox>
                </section>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Tankwa Karoo National Park
                </mat-expansion-panel-header>
                <section>
                    <mat-checkbox>Tankwa Karoo Rest Camp</mat-checkbox>
                    <br>
                    <mat-checkbox>Elandsberg Rest Camp</mat-checkbox>
                </section>
            </mat-expansion-panel>
            </mat-accordion>
        </form>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" matStepperPrevious> Back</button>
            <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="updateActivity()">Update Activity</button>
        </mat-dialog-actions>
    </mat-step>
</mat-horizontal-stepper>
  