
<div class="dialog">
    <button id="alignCloseRight" mat-icon-button align="end" color="warn" [mat-dialog-close] aria-label="Close">
    <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>View Camp </h2>
  
    <mat-dialog-content appearance="mat-typography">
      <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput value="{{camp.CampName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Camp Type</mat-label>
            <input matInput value="{{camp.CampTypeName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Park</mat-label>
            <input matInput value="{{camp.ParkName}}" readonly>
            <mat-hint>Park in which this camp is.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Camp Latitude</mat-label>
            <input matInput value="{{camp.CampLatitude}}" readonly>
            <mat-hint>Camp Latitude Co-Ordinates</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Camp Longitude</mat-label>
            <input matInput value="{{camp.CampLongitude}}" readonly>
            <mat-hint>Camp Longitude Co-Ordinates</mat-hint>
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Camp Description</mat-label>
            <textarea cdkTextareaAutosize matInput  readonly value="{{camp.CampDescription}}"></textarea>
        </mat-form-field>
      </div>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close] color="primary" (click)="updateCamp()">Update</button>
        <button mat-raised-button [mat-dialog-close]="true" color="warn" (click)="deleteCamp()">Delete</button>
    </mat-dialog-actions>
<div>