<div class="dialog">
    <h2 mat-dialog-title>Create Accommodation Add Rate</h2>
    <form [formGroup]="addAccomodationRateForm">
    <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
    <mat-form-field appearance="fill"> <!--Populated based on the selected Park-->
        <mat-label>Accommodation Type</mat-label>
        <mat-select formControlName="accomodationType">
            <mat-option *ngFor="let accType of accommodationTypeDropDown" [value]="accType.AccommodationTypeID">{{accType.AccTypeName}}</mat-option>
        </mat-select>
    </mat-form-field>  
    <mat-form-field appearance="fill">
        <mat-label>Adult Rate</mat-label>
        <input matInput formControlName="adultRate" type="number" maxlength="13">
        <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Child Rate</mat-label>
        <input matInput formControlName="childRate" type="number" maxlength="13">
        <mat-hint>Rate in South African Rands (ZAR)</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Date Effective</mat-label>
        <input matInput [matDatepicker]="dateEffective" formControlName="dateEffective" readonly>
        <mat-datepicker-toggle matSuffix [for]="dateEffective"></mat-datepicker-toggle>
        <mat-datepicker #dateEffective color="primary"></mat-datepicker>
        <mat-hint>Date from which to apply this add rate.</mat-hint>
    </mat-form-field>
    </div>  
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="addAccomodationBaseRate()">Create</button>
    </mat-dialog-actions>
    </form>
</div>
      
      
      
      
      