<div class="dialog">
    <h2 mat-dialog-title>Create Client</h2>
    <form [formGroup]="addClientForm">
      <mat-dialog-content appearance="mat-typography">
        <div class="example-container">    
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <mat-select formControlName="title">
                    <mat-option *ngFor="let item of titles" [value]="item.TitleID">{{item.TitleName}}</mat-option>
                </mat-select>
            </mat-form-field>             
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                    <mat-option *ngFor="let item of countries" [value]="item.CountryID">{{item.CountryName}}</mat-option>
                </mat-select>
            </mat-form-field>         
            <mat-form-field appearance="fill">
                <mat-label>Identity Number</mat-label>
                <input matInput formControlName="identityNumber">
                <mat-hint>Provide a valid identity number</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Cellphone Number</mat-label>
                <input matInput formControlName="cellphoneNumber">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="emailAddress">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age">
            </mat-form-field>
            <mat-form-field hintLabel="Max 200 characters" appearance="fill">
                <mat-label>Address Line 1</mat-label>
                <textarea matInput maxlength="200" cdkTextareaAutosize formControlName="addressLine1" #addressLine1></textarea>
                <mat-hint>&nbsp; {{addressLine1.value.length}}/200</mat-hint>
            </mat-form-field>
            <mat-form-field hintLabel="Max 200 characters"appearance="fill">
                <mat-label>Address Line 2</mat-label>
                <textarea matInput maxlength="200" formControlName="addressLine2" #addressLine2 cdkTextareaAutosize ></textarea>
                <mat-hint>&nbsp;{{addressLine2.value.length}}/200</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Postal Code</mat-label>
                <input matInput formControlName="postalCode">
            </mat-form-field>
        </div>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="addClient()">Create</button>
    </mat-dialog-actions>
    </form>
    </div>