<div class="dialog">
  <h2 mat-dialog-title>Add Park</h2>
<mat-dialog-content appearance="mat-typography">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Park Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Park Limit</mat-label>
      <input matInput type="number">
      <mat-hint>The maximum amount of people in a park</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Park Location</mat-label>
      <input matInput>
      <mat-hint>Enter GPS Co-Ordinates</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 300 characters" appearance="fill">
      <mat-label>Park Description</mat-label>
      <textarea matInput #input maxlength="300"></textarea>
      <mat-hint>&nbsp;{{input.value?.length || 0}}/300</mat-hint>
    </mat-form-field>
  </div>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn" (click)="confirmCancel()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="addPark()">Add Park</button>
</mat-dialog-actions>
</div>




