
<div class="dialog">
  
    <button id="alignCloseRight" mat-icon-button align="end" color="warn" [mat-dialog-close] aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>View Employee</h2>
  
    <mat-dialog-content appearance="mat-typography">
      <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput value="{{employee.EmployeeName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput value="{{employee.EmployeeSurname}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Identity Number</mat-label>
            <input matInput value="{{employee.EmployeeIDNumber}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cellphone Number</mat-label>
            <input matInput value="{{employee.EmployeeCellphone}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Work Number</mat-label>
            <input matInput value="{{employee.EmployeeWorkPhone}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input matInput value="{{employee.EmployeeEmail}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Address Line 1</mat-label>
            <textarea cdkTextareaAutosize matInput value="{{employee.EmployeeAddressLine1}}" readonly></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Address Line 2</mat-label>
            <textarea matInput cdkTextareaAutosize value="{{employee.EmployeeAddressLine2}}" readonly></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input matInput value="{{employee.EmployeePostalCode}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Park</mat-label>
            <input matInput value="{{employee.ParkName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>User Role</mat-label>
            <input matInput value="{{employee.UserRoleName}}" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Employment Status</mat-label>
            <input matInput value="{{employee.EmploymentStatusName}}" readonly>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close] color="primary" (click)="updateEmployee()">Update</button>
    </mat-dialog-actions>
<div>
