
<div class="dialog">
    <button id="alignCloseRight" mat-icon-button align="end" color="warn" [mat-dialog-close] aria-label="Close">
  
      <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>View Accommodation</h2>
  
    <mat-dialog-content appearance="mat-typography">
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Park</mat-label>
            <input matInput value="{{accommodation.ParkName}}" readonly>
            <mat-hint>Park in which this accomodation is.</mat-hint>        
          </mat-form-field>
          <mat-form-field appearance="fill">
          <mat-label>Camp</mat-label>
            <input matInput value="{{accommodation.Camp}}" readonly>
            <mat-hint>Camp in which this accommodation is.</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Unit Number</mat-label>
            <input matInput value="{{accommodation.UnitNumber}}" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Accommodation Type</mat-label>
            <input matInput value="{{accommodation.AccomodationType}}" readonly>
          </mat-form-field>      
      </div>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close] color="primary" (click)="updateAccomodation()">Update</button>
        <button mat-raised-button [mat-dialog-close]="true" color="warn" (click)="deleteAccomodation()">Delete</button>
    </mat-dialog-actions>
<div>