<div>
    <button id="alignCloseRight" mat-icon-button align="end" color="warn" (click)="closeSheet()" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>Suggestions for you next action:</h2>
    <br>
    <div class="bottom-sheet">
        <div> Do you want to add a park gate time? </div>
        <button mat-button class="change" type="submit" color="warn" (click)="openParkGateTime()">Yes</button>
    </div>
    <div class="bottom-sheet">
        <div> Do you want to add a camp gate time? </div>
        <button mat-button class="change" type="submit" color="warn" (click)="openCampGateTime()">Yes</button>
    </div>
    <div class="bottom-sheet">
        <div> Do you want to add an accommodation base rate? </div>
        <button mat-button class="change" type="submit" color="warn" (click)="openAccBaseRate()">Yes</button>
    </div>
</div>