<div class="dialog">
  <h2 mat-dialog-title>Create Amenity Type </h2>
  <form [formGroup]="addAmenityTypeForm">
  <mat-dialog-content appearance="mat-typography">
    <div class="example-container">
      <mat-form-field hintLabel="Max 50 characters" appearance="fill">
        <mat-label>Amenity Type Name</mat-label>
        <textarea matInput #input maxlength="50" cdkTextareaAutosize formControlName="amenityTypeName"></textarea>
      <mat-hint>&nbsp;{{input.value?.length || 0}}/50</mat-hint>
      </mat-form-field>      
    </div>
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="confirmCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addAmenityType()">Create</button>
  </mat-dialog-actions>
  </form>
</div>
  