
#alignCloseRight{
    float: right;
}
mat-form-field{
    display: block;
    width: 300px;
    margin-bottom: 20px;
}

mat-label{
    margin-bottom: 10px;
}

body{    
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}