<h2 mat-dialog-title>Create Accommodation Type</h2>
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter Accommodation Type Details</ng-template>
        <mat-form-field>
            <mat-label>Accommodation Type Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Accommodation Type Description</mat-label>
            <textarea matInput #input maxlength="100" required></textarea>
            <mat-hint>{{input.value?.length || 0}}/100</mat-hint>
            </mat-form-field>
            <mat-form-field>
            <mat-label>Number of Beds</mat-label>
            <input matInput placeholder="12" formControlName="firstCtrl" type="number">
            </mat-form-field>
            <mat-form-field>
            <mat-label>Number of Bath Rooms</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" type="number" >
            </mat-form-field>
            <mat-form-field>
            <mat-label>Maximum Child Guests</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" type="number" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Maximum Adult Guests</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" type="number" required>
                </mat-form-field>

            <mat-form-field>
            <mat-label>Select Parks to Avail Accommodation Type</mat-label>
            <mat-select [formControl]="parks" multiple>
                <mat-option *ngFor="let park of parkList" [value]="park">{{park}}</mat-option>
            </mat-select>
            </mat-form-field>   
            <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close color="warn">Cancel</button>
            <button mat-button matStepperNext color="primary">Next</button>
            </mat-dialog-actions>
        <div>
        </div>
        </form>
    </mat-step>
    <mat-step>
        <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Assign Accommodation Type To Camps</ng-template>
        <mat-dialog-content>
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Kruger National Park
                    </mat-panel-title>
                    <mat-panel-description>
                      Select Camps To Include Activity
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                    <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                    <br>
                    <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                    <br>
                    <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                    <br>
                    <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Kruger National Park
                      </mat-panel-title>
                      <mat-panel-description>
                        Select Camps To Include Accommodation Type
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Kruger National Park
                      </mat-panel-title>
                      <mat-panel-description>
                        Select Camps To Include Accommodation Type
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Kruger National Park
                      </mat-panel-title>
                      <mat-panel-description>
                        Select Camps To Include Accommodation Type
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Kruger National Park
                      </mat-panel-title>
                      <mat-panel-description>
                        Select Camps To Include Accommodation Type
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                  </mat-expansion-panel>
                  <mat-expansion-panel color="primary">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Kruger National Park
                      </mat-panel-title>
                      <mat-panel-description>
                        Select Camps To Include Accommodation Type
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                      <br>
                      <mat-checkbox >Berg - En Dal Rest Camp</mat-checkbox>
                  </mat-expansion-panel>
              </mat-accordion>
        </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
          </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Add Images &amp; Save Accommodation Type</ng-template>
        <h3>Add Accommodation Type Images</h3>
            <input multiple type="file" value="Add Images" mat-button color="primary" cdkFocusInitial>
            <mat-dialog-actions align="end">
                <button mat-button matStepperPrevious>Go Back</button>
                <button mat-button mat-dialog-close color="warn">Cancel</button>
                <button mat-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Save Accommodation Type</button>
            </mat-dialog-actions>
    </mat-step>
    <!--ON dev-->
    </mat-horizontal-stepper>

  

