<button id="alignCloseRight" mat-icon-button align="end" color="warn" (click)="confirmCancel()" aria-label="Cancel">
    <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>Create Amenity</h2>
<mat-horizontal-stepper [linear]= "true" #stepper>
    <mat-step [stepControl]="amenityLocation">
        <form [formControl]="amenityLocation" [formGroup]="amenityLocation">
            <ng-template matStepLabel>Amenity Location</ng-template>
            <mat-dialog-content appearance="mat-typography">
                <mat-form-field appearance="fill">
                    <mat-label>Park</mat-label>
                    <mat-select formControlName="park">
                        <mat-option *ngFor="let park of parkDropDown" [value]="park.ParkID" (click)="getCampsForPark(park.ParkID)">{{park.ParkName}}</mat-option>
                    </mat-select>
                    <mat-hint>Park in which this amenity is in.</mat-hint>
                </mat-form-field> 
                <mat-form-field appearance="fill"> <!--Populated based on the selected Park-->
                    <mat-label>Camp</mat-label>
                    <mat-select formControlName="camp">
                        <mat-option *ngFor="let camp of campDropDown" [value]="camp.CampID" (click)="getAccomodationTypesForCamp(camp.CampID)">{{camp.CampName}}</mat-option>
                    </mat-select>
                    <mat-hint>Camp in which this amenity is in.</mat-hint>
                </mat-form-field> 
                <mat-form-field appearance="fill"> <!--Populated based on the selected camp, show acc types in camp -->
                    <mat-label>Accomodation Type</mat-label>
                    <mat-select formControlName="accomodationType">
                        <mat-option *ngFor="let accType of accomodationTypeDropDown" [value]="accType.AccommodationTypeID" (click)="getUnitNumbers(accType.AccommodationTypeID)">{{accType.AccTypeName}}</mat-option>
                    </mat-select>
                    <mat-hint>Accomodation type in which this amenity is in.</mat-hint>
                </mat-form-field> 
                <mat-form-field appearance="fill"> <!--Populated based on the selected acc type, show unit number of acc in this camp-->
                    <mat-label>Unit Number</mat-label>
                    <mat-select formControlName="unitNumber">
                        <mat-option *ngFor="let unitNumber of unitNumberDropDown" [value]="unitNumber.UnitNumber">{{unitNumber.UnitNumber}}</mat-option>
                    </mat-select>
                    <mat-hint>Unit number in which this amenity is in.</mat-hint>
                </mat-form-field> 
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-raised-button color="primary" (click)="stepperNext()">Next</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step [stepControl]="amenityDetails">
        <form [formControl]="amenityDetails" [formGroup]="amenityDetails" >
            <ng-template matStepLabel>Amenity Details</ng-template>
            <mat-dialog-content appearance="mat-typography">
                <mat-form-field appearance="fill">  
                    <mat-label>Amenity Type</mat-label>
                    <mat-select formControlName="amenityType">
                        <mat-option *ngFor="let amenityType of amenityTypeDropDown" [value]="amenityType.AmenityTypeID">{{amenityType.AmenityTypeName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field hintLabel="Max 300 characters" appearance="fill">
                    <mat-label>Amenity Description</mat-label>
                    <textarea cdkTextareaAutosize matInput #input maxlength="300"  formControlName="amenityDescription"></textarea>
                    <mat-hint>&nbsp;{{input.value?.length || 0}}/300</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill"> 
                    <mat-label>Amenity Status</mat-label>
                    <mat-select formControlName="amenityStatus">
                        <mat-option *ngFor="let amenityStatus of amenityStatusDropDown" [value]="amenityStatus.AmenityStatusID">{{amenityStatus.AmenityStatusName}}</mat-option>
                    </mat-select>
                    <mat-hint>Status of this amenity</mat-hint>
                </mat-form-field>
            </mat-dialog-content>
        </form>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" matStepperPrevious >Previous</button>
            <button mat-raised-button color="primary" (click)="addAmenity()">Create</button>
        </mat-dialog-actions>
    </mat-step>
</mat-horizontal-stepper>
  