<h2 mat-dialog-title>Update Accomodation Type</h2>
<mat-horizontal-stepper [linear] #stepper>
    <mat-step [stepControl]="basicUpdateAccomodationTypeDetails">
        <form [formControl]="basicUpdateAccomodationTypeDetails">
            <ng-template matStepLabel>Accomodation Type Details</ng-template>
            <mat-dialog-content appearance="mat-typography">
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Accomodation Type Name</mat-label>
                    <input matInput value="Bungalow">
                </mat-form-field>
                <mat-form-field hintLabel="Max 300 characters" appearance="fill">
                    <mat-label>Accomodation Type Description</mat-label>
                    <textarea  cdkTextareaAutosize matInput #input maxlength="300" value="Single bedroom units with a bathroom. Some have communal kitchens while others have own kitchenettes with basic kitchen equipment. Some bungalows have perimeter or river views, while others have been upgraded to luxury status."></textarea>
                    <mat-hint>&nbsp;{{input.value?.length || 0}}/300</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Number of Beds</mat-label>
                    <input matInput type="number" value="3">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Number of Baths</mat-label>
                    <input matInput type="number" value="2">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Adult Limit</mat-label>
                    <input matInput type="number" value="2">
                    <mat-hint>Number of adults allowed</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Child Limit</mat-label>
                    <input matInput type="number" value="2">
                    <mat-hint>Number of children allowed</mat-hint>
                </mat-form-field>
            </div>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step [stepControl]="udpateCampsForAccomodationType">
        <form [formControl]="udpateCampsForAccomodationType">
            <ng-template matStepLabel>Select Camps</ng-template>
            <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Addo Elephant National Park
                </mat-expansion-panel-header>
                <section>
                    <mat-checkbox>Addo</mat-checkbox>
                    <br>
                    <mat-checkbox>Spekboom</mat-checkbox>
                    <br>
                    <mat-checkbox>Kabouga</mat-checkbox>
                    <br>
                    <mat-checkbox>Nyathi</mat-checkbox>
                </section>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Kruger National Park
                </mat-expansion-panel-header>
                <section>
                    <mat-checkbox>Crocodile Bridge</mat-checkbox>
                    <br>
                    <mat-checkbox>Letaba</mat-checkbox>
                    <br>
                    <mat-checkbox>Lower Sabie</mat-checkbox>
                    <br>
                    <mat-checkbox>Boulders Bush Lodge</mat-checkbox>
                </section>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Tankwa Karoo National Park
                </mat-expansion-panel-header>
                <section>
                    <mat-checkbox>Tankwa Karoo Rest Camp</mat-checkbox>
                    <br>
                    <mat-checkbox>Elandsberg Rest Camp</mat-checkbox>
                </section>
            </mat-expansion-panel>
            </mat-accordion>
        </form>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" matStepperPrevious> Back</button>
            <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="updateAccomodationType()">Update Accomodation Type</button>
        </mat-dialog-actions>
    </mat-step>
</mat-horizontal-stepper>
  